{deps, []}.

{profiles, [
  {test, [
    {erl_opts, [debug_info, {d, 'STATISTICS'}]},
    {deps, [
      {statistics, {git, "https://github.com/NelsonVides/statistics.git", {branch, "master"}}},
      {base16, "1.0.0"},
      {proper, "1.3.0"}
     ]},
    {plugins, [
       {rebar3_codecov, {git, "https://github.com/esl/rebar3_codecov.git", {ref, "6bd31cc"}}}
     ]}
   ]}
 ]
}.

{plugins, [pc, rebar3_hex]}.

{artifacts, ["priv/fast_pbkdf2.so"]}.

{port_specs,
 [
    {
        % Any arch
        ".*",
        % Create library
        "priv/fast_pbkdf2.so",
        % From files
        ["c_src/*.c"],
        % Using options
        [ {env, [{"CFLAGS", "$CFLAGS -std=c99 -O3 -g -Wall -Wextra -fPIC"},
                 {"LDLIBS", "$LDLIBS -lcrypto"},
                 {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}]}]
     }
 ]}.

{provider_hooks,
 [
    {post,
     [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
     ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
