{erl_opts, [
  deterministic
]}.

{deps, []}.

{profiles, [
  {test, [
    {erl_opts, []},
    {deps, [
      {base16, "2.0.1"},
      {proper, "1.4.0"}
    ]},
    {plugins, [
      {rebar3_codecov, "0.6.0"}]},
      {port_env,
        [
          {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
               "$CFLAGS -std=c99 -O0 -g -Wall -Wextra -fPIC --coverage"},
          {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
               "$LDLIBS -lcrypto --coverage"},
          {"win32", "CFLAGS", "$CFLAGS /O0 /DNDEBUG /Wall"},
          {"win32", "LDLIBS", "$LDLIBS libcrypto.lib"}
        ]
      }
  ]}
]
}.

{plugins, [pc, rebar3_hex]}.

{port_env,
  [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
         "CFLAGS", "$CFLAGS -std=c99 -O3 -g -Wall -Wextra -fPIC"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
         "LDLIBS", "$LDLIBS -lcrypto"},
    {"win32", "CFLAGS", "$CFLAGS /O2 /DNDEBUG /Wall"},
    {"win32", "LDLIBS", "$LDLIBS libcrypto.lib"},
    {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}
  ]
}.

{port_specs,
  [
    {
      % Any arch
      ".*",
      % Create library
      "priv/fast_pbkdf2.so",
      % From files
      ["c_src/*.c"]
    }
  ]}.

{provider_hooks,
  [
    {post,
      [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
  ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
