{erl_opts, [
  deterministic
]}.

{deps, []}.

{profiles, [
  {test, [
    {erl_opts, []},
    {deps, [
      {base16, "2.0.1"},
      {proper, "1.4.0"}
    ]},
    {cover_enabled, true},
    {cover_export_enabled, true},
    {plugins, [{rebar3_codecov, "0.7.0"}]},
    {port_env,
        [
          {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
               "CFLAGS", "$CFLAGS -O0 -g --coverage"},
          {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
               "LDLIBS", "$LDLIBS --coverage"}
        ]
    }
  ]}
]
}.

{plugins, [pc]}.

{port_env,
  [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
         "CFLAGS", "$CFLAGS -std=c99 -O3 -Wall -Wextra -Werror -fPIC"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
         "LDFLAGS", "$LDFLAGS -lssl -lcrypto"},
    {"win32", "CFLAGS", "$CFLAGS /O2 /DNDEBUG /Wall"},
    {"win32", "LDFLAGS", "$LDFLAGS libssl.lib libcrypto.lib"},
    {"darwin", "DRV_LDFLAGS", "-bundle -bundle_loader \"${BINDIR}/beam.smp\" $ERL_LDFLAGS"},
    {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}
  ]
}.


{port_specs,
  [
    {
      % Any arch
      ".*",
      % Create library
      "priv/fast_pbkdf2.so",
      % From files
      ["c_src/*.c"]
    }
  ]}.

{provider_hooks,
  [
    {post,
      [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
  ]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
{ex_doc, [
     {source_url, <<"https://github.com/esl/fast_pbkdf2">>},
     {main, <<"readme">>},
     {extras, [{'README.md', #{title => <<"README">>}},
               {'LICENSE', #{title => <<"License">>}}
              ]}
]}.
